<div class="main users-new">
  <div class="container">
    <div class="form-heading">アカウントをつくろう！</div>
    <div class="form users-form">
      <div class="form-body">
      <% @user.errors.full_messages.each do|message|%>
      <div class="form-error">
      <%= message %>
      </div>
      <%end%>
      <%= form_tag("/users/create")do %>
        <p>名前</p>
        <!-- <input>タグを用いて1行の入力フォームを作成してください -->
        <input name="name" value="<%= @user.name%>">
        <p>Eメールアドレス</p>
        <!-- <input>タグを用いて1行の入力フォームを作成してください -->
        <input name="email" value="<%= @user.email%>">
        <p>パスワード</p>
        <input type="password" name="password" value="<%= @user_password %>">
        <input type="submit" value="新規登録">
        <%end%>
      </div>
    </div>
  </div>
</div>
<footer>
<div class="footer-logo">TweetApp</div>
<div class="footer-list">
<small class="cmark">©︎copyright fuwa.2020<a href="#"></a></small>
</div>
</footer>

